streamlit
yfinance 
pandas
PyPortfolioOpt
plotly
matplotlib
gunicorn
pandas_datareader
streamlit_extras
datetime
numpy
selenium
sympy
chromedriver-autoinstaller
webdriver_manager
python-dateutil
chromedriver
